

<div class="col-md-6">
 <div class="card bg-dark text-white text-center">
    <div class="card-body">
     <h3><%= truncate(project.name, lenth: 20) %></h3>
     <h3><%= truncate(project.description, length: 26) %></h3>
     <h5><%= link_to "#{ project.videos.count } Screencasts", videos_path(project: project.id), class: "screewhite" %></h5>
    </div>
  <div class="row">
     

     <div class="col-md-4">
        <%= link_to "Screencasts", videos_path(project: project.id), class: "btn btn-sm btn-primary" %>
      </div>

     <% unless current_user_subscribed? %>
     <div class="col-md-4">

       <%= link_to "Visit App", url_for(project.web_link), class: "btn btn-sm btn-primary" %>
     </div>
      
      <% else %>

         <%= link_to "Visit App", new-user_registration_path, method: :get, class: "btn btn-primary btn-sm" %>
     </div>

      <% end %>
       
     <% unless current_user_subscribed? %>
      <div class="col-md-4">
        <%= link_to "Github Repo", project.github_link, class: "btn btn-sm btn-primary" %>
      </div>

    <% else %>
    <div class="col-md-4">
      <%= link_to "Github Repo", new_user_registration_path, method: :get, class: 'btn btn-primary btn-sm' %>
      </div>
    <% end %>


     <br>
     <% if current_user_admin? %>


       <div class="container">

      <%= link_to "Edit", edit_project_path(project), class: "pull-right" %>
      
      </div>

     <% end %>
  </div>
 </div>

</div>

















































