
<%= bootstrap_form_for(@project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, id: :project_name %>


  <%= f.text_field :description, id: :project_description %>


  <%= f.text_field :web_link, id: :project_web_link %>

  <%= f.text_field :github_link, id: :project_github_link %>
  
  <%= f.text_field :golf_ad_id, id: :project_golf_ad_id %>
 
   <%= f.submit "Save Project", class: "btn btn-primary" %>
<% end %>
